body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0f172a;
  color: #e2e8f0;
}

/* APP */
.app {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* TOPO */
.topo {
  text-align: center;
  margin-bottom: 20px;
}

.topo h1 {
  color: #38bdf8;
}

/* TABS */
.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  background: #1e293b;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.tabs button:hover {
  background: #334155;
}

/* CARD */
.card {
  display: none;
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* FORM */
.form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

/* FILTROS */
.filtros {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

/* INPUTS */
input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #334155;
  color: #fff;
}

/* BOTÕES */
button {
  background: #22c55e;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

/* TABELA */
table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

td {
  padding: 10px;
  border-bottom: 1px solid #334155;
}

tr:hover {
  background: #334155;
}

/* CARDS RESUMO */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 15px;
}

.card-mini {
  background: #334155;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.destaque {
  background: #22c55e;
  color: #000;
  font-weight: bold;
}
.card {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

button {
  transition: 0.2s;
}

button:active {
  transform: scale(0.95);
}

input:focus {
  outline: 2px solid #38bdf8;
}
@media (max-width: 600px) {
  .form {
    flex-direction: column;
  }

  .tabs {
    flex-direction: column;
  }

  table {
    font-size: 12px;
  }
}
